/* Park detail Ends here */
.park-section {
  display: flex;
  flex-direction: row;
  line-height: 1.6;
  min-height: 100vh;
}

.park-image img {
  width: 90%;
  height: 80vh;
  object-fit: cover;
  border-radius: 5%;
}

.park-image {
  /* flex: 1.2; */
  margin-left: 50px;
  margin-top: 50px;
}

.parks-content {
  flex: 1.8;
  padding: 3rem 4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parks-content h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #222;

}

.parks-desc {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #444;
}

.parks-chars {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  border-top: 1px solid #aaa;
  padding-top: 1rem;
}

.chars h3 {
  font-size: 1rem;
  color: #222;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.chars p {
  font-size: 0.95rem;
  color: #444;
  max-width: 280px;
}

/* Park detail Ends here */

/* Animal Card Styles start */
/* Grid Container */
.card-cntr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.animal-bird-card {
  background-color: #ffffff;
  border-radius: 12px;
  margin: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  height: 80%;
}

.animal-bird-card:hover {
  transform: translateY(-5px);
}

.animal-bird-img {
  width: 100%;
  height: 60%;
  display: block;
  object-fit: cover;
}

.animal-bird-content {
  padding: 16px;
}

.animal-bird-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animal-bird h2 {
  font-size: 1.25rem;
  color: #222;
}

.animal-bird-content p {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 12px;
  line-height: 1.5;
}

.animal-bird-content hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 12px 0;
}

.animal-bird-content ul {
  list-style: none;
  font-size: 0.9rem;
  color: #333;
}

.animal-bird-content li {
  margin-bottom: 6px;
}

.animal-bird-content li strong {
  color: #111;
}
/* Animal Card Styles */

/* doc link start */
.more-details {
  margin-top: -15px;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
}

.more-details p {
  color: #222;
}

.more-details a {
  color: #1a73e8;
  text-decoration: underline;
  padding-left: 10px;
}

.more-details a:hover {
  text-decoration: none;
}
/* doc link end */

/* about and location Start */
.contact-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.contact-box {
  display: flex;
  border: 5px solid #eee;
  padding: 30px;
  background-color: #fff;
}

.map-embed {
  flex: 1;
  min-width: 300px;
  height: 100%;
  padding: 20px;
}

.map-embed iframe {
  width: 100%;
  height: 100%;
  min-height: 250px;
  border-radius: 6px;
}

.contact-info {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.info-block {
  margin-bottom: 25px;
}

.info-block h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.info-block p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.info-block a {
  color: #5a67d8;
  text-decoration: none;
}
/* about and location End */

/* MediaQuery for parks Details */
@media (max-width: 960px) {
  .park-section {
    flex-direction: column;
  }

  .park-image,
  .park-image img {
    height: 300px;
  }

  .parks-chars {
    flex-direction: column;
  }
}