/* google Fonts:Poppins link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Colors */
:root {
    --black: #0d0d0d;
    --white: white;
    --blue: blue;
    --grey: #8a8a8a;
    --dark-grey: #333;
    --gradient: linear-gradient(#0F172A, #000000);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.navbarDesktop {
    display: flex;
    justify-content: space-between;
    background: var(--gradient);
    padding: 0.6rem 2rem;
    color: var(--gradient) !important;
    align-items: center;

}

.navbarDesktop>.navbar-logo>a>img {
    width: 3vw;
    filter: invert(1);
}

.navbar-items ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-items li {
    position: relative;
}

.navbar-items li a {
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
}

/* Dropdown styles */
.navbar-items li ul {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    background: var(--gradient);
    min-width: 170px;
    flex-direction: column;
    z-index: 10;
}

.navbar-items li:hover ul {
    display: flex;
}

.navbar-items li ul li a {
    padding: 1rem 1rem;
    justify-content: center;
}


/* Navbar Toggle */
.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 26px;
    margin-left: 20px;
    color: white;
}

/* Navbar Mobile */
.hide {
    display: none;
}

#navbarMobile {
    text-align: center;
    background: var(--gradient);
    color: var(--white) !important;
    padding: 20px 0;
}

#navbarMobile p {
    margin: 10px 0;
}

#navbarMobile p a {
    text-decoration: none;
    color: var(--white);
}

/* Navbar Link Animation */
.nav-link {
    position: relative;
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 16px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* Navbar Link Animation */

/* .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 26px;
    margin-left: 20px;
} */

/* Navbar Officially End */

/* Carousel Start */
.main-carousel {
    height: 100vh;
    width: 100%;
}

.main-carousel .carousel-cell {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Carousel End */

/* National Park Cards Start */
.card-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
    width: 100%;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    line-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--gradient);
}

.title::after {
    content: '';
    background: var(--gradient);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    position: relative;
    flex: 1;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.overlay h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

.overlay p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.overlay a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    transition: opacity 0.3s;
}

.overlay a:hover {
    opacity: 0.8;
    color: blue;
}

/* National Park Cards End */

/* <!-- services Start --> */
.Services {
    padding: 2rem;
    font-family: sans-serif;
}

.Services,
h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--gradient);
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.info-box {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}

.info-box img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.info-box h3 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--gradient);
    /* color: #2e5b3e; */
    margin-bottom: 0.5rem;
}

.info-box p {
    font-size: 0.9rem;
    color: #333;
}

/* Services End */

/* About start */
.About-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
    background: var(--white);
}

.section-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.section-text h1 {
    margin-top: -40px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--gradient);
}

.section-text {
    max-width: 600px;
    text-align: left;
    padding-left: 40px;
}

.section-text p {
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #333;

}

.about-btn {
    /* display: inline-block; */
    background: var(--gradient);
    color: var(--white);
    padding: 8px 20px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.3s;
    text-decoration: none;
}

/* -----.testimonial----- */
.team-section {
    padding: 30px 20px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.team-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    text-align: center;
    padding: 40px 30px 20px;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card .quote {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.team-card p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #222;
}

.team-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-card h3 {
    font-size: 18px;
    font-weight: 600;
}

/* Testemonials Ended */
/* About End */

/* Contact and location Start*/
.contact-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    border: 1px solid #eee;
    padding: 30px;
    background-color: #fff;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background: var(--gradient);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    padding: 50px 60px;
}

.info-block {
    margin-bottom: 25px;
}

.info-block h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.info-block p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.info-block a {
    color: #5a67d8;
    text-decoration: none;
}

.map-cntr iframe {
    width: 100%;
    height: 300px;

}
/* Contact and location end*/

/* Footer Start  */
footer {
    width: 100%;
    position: bottom;
    bottom: 0;
    background: var(--gradient);
    color: var(--white);
    padding: 30px 20px;
    margin-top: 80px;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container li a:hover {
    color: var(--white);
    transition: 0.5s;
}

.col-1 {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.col-1 p {
    color: var(--grey);
    font-size: 15px;
    line-height: 30px;
    padding-top: 25px;
}

.col-2 {
    padding: 10px;
    margin-bottom: 20px;
}

.col-2 h3 {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 15px;
}

.col-2 ul {
    text-align: center;
    list-style: none;
}

.col-2 ul li {
    margin-bottom: 10px;
}

.col-2 ul li a {
    color: var(--grey);
    text-decoration: none;

}

.col-3 {
    flex-basis: 15%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-3 h3 {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.map-container {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-4 h3 {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}

.footer-form input {
    background: transparent;
    width: 100%;
    border: none;
    color: var(--white);
    outline: none;
}

.footer-form button {
    background: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    outline: none;
}

.footer-form #mailbox {
    padding-right: 10px;
}

.social-icons {
    margin-top: 50px;
}

.social-icons a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: var(--white);
    color: #25262A;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.copyright {
    width: 100%;
    color: #8a8a8a;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    width: 90%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid var(--grey);
}
/* Footer Ends Here */

/* Toggle appearence in Navbar */
@media (max-width: 805px) {
    .navbar-items {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
}